os: linux
language: php
sudo: false
cache:
  apt: true
  directories:
    - vendor
    - $HOME/.composer/cache
php:
  - 7.2
services:
- docker
before_script:
  ## PHP_CodeSniffer
  - pear install pear/PHP_CodeSniffer
  - phpenv rehash
  ## PHP Copy/Paste Detector
  - wget https://phar.phpunit.de/phpcpd.phar
  ## PHP Mess Detector
  - wget -c http://static.phpmd.org/php/latest/phpmd.phar
  ## PHPLOC
  - wget https://phar.phpunit.de/phploc.phar
script:
  ## PHP_CodeSniffer
  - phpcs --report=emacs --standard=PSR2 app/Http/Controllers/TestController.php --ignore=vendor/*
  ## PHP Copy/Paste Detector
  - php phpcpd.phar --verbose app/Http/Controllers/TestController.php
  ## PHP Mess Detector
  - php phpmd.phar app/Http/Controllers/TestController.php text cleancode --exclude vendor
  - php phpmd.phar app/Http/Controllers/TestController.php text codesize --exclude vendor
  - php phpmd.phar app/Http/Controllers/TestController.php text controversial --exclude vendor
  - php phpmd.phar app/Http/Controllers/TestController.php text design --exclude vendor
  - php phpmd.phar app/Http/Controllers/TestController.php text naming --exclude vendor
  - php phpmd.phar app/Http/Controllers/TestController.php text unusedcode --exclude vendor
  ## PHPLOC
  - php phploc.phar app/Http/Controllers/TestController.php --exclude vendor
  ## PHPUNIT
  #- phpunit .
  ## LINT
  - find ./app/Http/Controllers/TestController.php -type f -name \*.php -exec php -l {} \;
  - bash ./.deployment/travis-ci/migration
#  - bash ./.deployment/travis-ci/phpmd
#  - bash ./.deployment/travis-ci/phploc
#  - bash ./.deployment/travis-ci/phpcpd
#  - bash ./.deployment/travis-ci/phpcs

notifications:
  email:
    recipients:
      - chapal@inbox.ru
      - siarhei.sharykhin@itechart-group.com
    on_success: never # default: change
    on_failure: never # default: always